.heading {
font-family: 'Merriweather', serif;
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Passions Conflict', cursive; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Silkscreen', cursive; */
font-size: 3rem;
line-height: 1.5;
font-weight: 800;
}


#navbarToggleExternalContent > div{
    display: flex;
    justify-content: end;
}
.nav-item a{
    color: #CDFCF6;
}
.nav-item::after{
    content:"";
    display: block;
    background-color: #CC3636;
    width: 0;
    height: 2px;
    transition:0.5s;
    margin:auto;
}
.nav-item:hover::after{
    width: 60%;
}
ul li a:hover{
    color:#CC3636
}
#title{
    background-color:#CC3636 ;
}
#title > div.container-fluid{
    padding: 3% 15%;
    position: relative;
    z-index: 1;
    
    
}
#title > div.container-fluid > div > div:nth-child(1) > h1{
    margin:30% 30% 0 0;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 900;
}
#title > div.container-fluid > nav > a{
    font-size: 2rem;
    color:#fff;
    font-weight: 800;
}
#title > div.container-fluid > div > div:nth-child(1) > div > button.btn-lg.btn-dark{
    margin-right:20px;
}
#title > div.container-fluid > div > div:nth-child(2) > img{
    transform:rotate(25deg);
    margin-top: 20%;
    top:20%;
    position: relative;
    z-index: -1;
}
#title > div.container-fluid > div > div:nth-child(1) > div{
    margin-top: 20%;
    margin-right: 20%;
    display: flex;

}
/* <!---------- feature section --------!> */
#features{
    z-index: 1;
    background-color: #fff;
    position: relative;
}
#features > div{
    margin:10%;
}
.icon{
    display:flex;
    justify-content: center;
    padding-bottom: 2rem;
    color: #CC3636;
    /* margin-bottom:6px; */
}
h3{
    display:flex;
    justify-content: center;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 900;
}
#features > div > div> h3{
   font-size: 2rem;
    font-weight: 900; 
}
#features{
    padding: 7% 15%;
}
#features > div > div{
    text-align: center;
    padding: 5%;
}
#features > div > div> p{
    color: #8f8f8f;
}
.icon:hover{
    color:rgb(212, 25, 0);
    transition: 0.7s;
}
/* tetomonial section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #CC3636;
    color: #fff;
    
}
#testimonials > h2{
    font-size: 3rem;
    /* font-family: 'Sacramento', cursive; */
    font-weight: 900;
    line-height: 6rem;
}
.img_test{
    border-radius: 50%;
    width:10%;
    margin:20px;
}

/* <!-------------------------press section-----------------------!> */
#press{
    background-color: #CC3636;
    text-align: center;
}
#press>img{
    margin: 20px;  
    padding-bottom: 3%;
    padding-top: 3%;
    width: 15%;
}

.carousel-item{
    padding: 7% 15%;
}
#pricing{
    text-align: center;
    margin: 30px;
}
#pricing > div > div > div> div > div.card-body{
  padding: 0 100px 100px;
}
#pricing > div > div > div:nth-child(1){
    margin-left: 100px;
}
#pricing > div > div > div:nth-child(3) > div > div.card-body{
    padding:29px 100px;
}
/* .btn{
    padding-left: 20px ;
    padding-right: 20px ;
} */
.card-header>h3{
    font-weight: bold;
}
#pricing > h2{
    margin-top: 5%;
    font-weight: bold;
}
#pricing > p{
    margin-top:2%;
    margin-bottom: 5%;
    color: #8f8f8f;
}
#pricing > div > div > div > div > div.card-body > p{
    color: #8f8f8f;
}
/* 
 <!-- Call to Action --> */ 
#cta{
    background-color: #CC3636;
    padding: 7% 15%;
    text-align: center;
    line-height: 20px;
}   
#cta > h3{
    margin: 2rem;
    color: #fff;
    font-size: 3.rem;
    font-weight: bold;
}  
#cta > button.btn.btn-light{
    margin: 20px;
    padding: 10px 10px;
}
#cta > button.btn.btn-dark{
    padding: 10px 10px;
}

                                                        /* footer */

#footer{
     background-color: #fff;
     text-align: center;
     padding: 7% 15%;
}
#footer > div > a{
    padding: 5%;
    color: #CC3636;
}
#footer  div{
    margin:30px;
}
#footer > div > a> i::after{
    content: "";
    display: block;
    width:0;
    background-color: #CC3636;
    height: 2px;
    transition: 0.5s;
    margin: auto;
}
#footer > div > a> i:hover::after{
    width: 100%;
}
.last{
    color: #8f8f8f;
}








                                                        /* adjustmen/t */

@media (max-width:924px){
    #features{
        text-align: center;
    }
    #title > div.container-fluid > div > div:nth-child(2) > img{
         position: static;
         transform: rotate(0);
    }
}